.todo {
  display: flex;
  justify-content: center;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 40rem;
}

@media (max-width: 768px) {
  .todo-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
